.container {
    height: 600px;
    background-color: #e4d5bc;

}

@media (max-width: 560px) {
    .container {
        height: 650px
    }
}

@media (min-width: 1600px) {
    .container {
        height: 950px
    }


}