.container {
    display: flex;
    justify-content: center;
}




.container h2 {
    max-width: 850px;
    text-align: center;
    line-height: 50px;
    margin-top: 80px;
    font-family: none;
    font-size: 56px;
    font-weight: 100;
    line-height: 60px;
    color: #3a321e;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.1),
        -2px -2px 5px rgba(255, 255, 255, 0.1);



}

.paragraph {
    color: rgb(54, 54, 49);
    font-size: 38px;
    font-family: 'Tangerine', cursive;
    text-align: center;
    font-weight: 600;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.1),
        -2px -2px 5px rgba(255, 255, 255, 0.1);

}


@media (min-width: 1600px) {
    .paragraph {
        font-size: 45px;
    }

    .container h2 {
        font-size: 72px;
        max-width: 900px;

    }

    .container {
        margin-top: 80px;

    }

    .sandstorm {
        margin-top: -10px;
    }
}

.sandstorm {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    margin-top: -20px;
}



@keyframes sandstormEffect {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    50% {
        opacity: 1;
        transform: translateY(0%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}