.container {
    display: flex;
    justify-content: space-between;

}



.tangerine1 {
    font-family: 'Tangerine', cursive;
    font-size: 35px;
    color: white;
    justify-content: end;
    display: flex;
}